
.page{
    width: 94%;
    height: 98%;
    position: absolute;
    border-top: 1vh solid #ff7ebc;
    border-right: 1vh solid #ff7ebc;
    margin-left: 5.6%;
    border-left:  1vh solid #ff7ebc;;
}

.top-tags{
    bottom: auto;
    top: 35px;
}

.tags{
    color: #ffffff;
    opacity: .5;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 18px
}

.bottom-tag-html{
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 autos;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;
    margin-left: 10%;
    display: flex;
}

.name {
    font-size: xxx-large;
    float: left;
    margin-left: 7vh;
    margin-top: 2vh;                                                                                                                           
    color: rgb(255, 255, 255);
  }
  

.words{
    color: #f99fcb;
    margin-left: 25%;
    font-size: x-large;
}

.hi {
    font-size: xx-large;
}

.dev{
    margin-left: 35%;
    font-size: large;
}


@media screen and (max-width: 1200px) {
    .page {
      position: initial;
    }
  
    .container {
      position: initial;
      height: auto;
      min-height: auto;
  
      &.contact-page,
      &.about-page,
      &.portfolio-page {
        .text-zone {
          position: initial;
          transform: none;
          width: 100%;
          display: block;
          padding: 20px;
          box-sizing: border-box;
        }
      }
  
      &.portfolio-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
  
        h1.page-title {
          margin-left: 20px;
          margin-top: 20px;
        }
      }
    }
  
    .stage-cube-cont {
      position: initial;
      width: 100%;
      height: 0%;
      overflow: visible;
    }

    .hi{
        font-size: large;
        margin-left: 60px;
    }

    .words{
        font-size: large;
        margin-right: 100px;
    }

    .dev{
        margin-left: 100px;
        margin-right: 100px;
    }
    .page{
      width: 100%;
      height: 100%;
      position: absolute;
      border-left: 0px;
      margin-left: 5.6%;
      border-right:  1vh solid #ff7ebc;
      margin-right: 5.6%;
  }
  }

  
  
