.name{
    font-size: 80px;
  }

  .resume-link {
    margin-left: 20%;
    color:white;
    text-decoration: none;
    &:hover{
      color: rgb(127, 142, 144);
    }
  } 

  .resume{
    margin-left: 45%;
    font-size: medium;
    border-width: 2px;
  border-radius: 2vh;
  margin-top: 10%;
  height: 4vh;
  width: 10vh;
  border: 0.5vh solid rgb(127, 142, 144);
  border-style: outset;
  box-shadow: 5px 10px rgb(8, 0, 0);
    &:hover{
      font-size: x-large;
      height: 5vh;
      width: 14vh;
    }
  }

  .inner{
    margin-top: 1vh;
    margin-left: .75vh;
  }

  .skills{
    border-radius: 2vh;
  height: 20vh;
  width: 50vh;
  margin-left: 15%;
  margin-top: 30%;
  color:rgb(255, 255, 255);
  font-size: large;
  display: flex;
  flex-direction: row;
  gap: 2vh;
  }

  .icon{
    size: 30vh;
    height: 5vh;
    background-color: rgb(127, 142, 144);
    border: 1vh solid rgb(127, 142, 144);
    border-style: outset;
    box-shadow: 5px 5px rgb(8, 0, 0);
  }

  .resume-page {
    margin-left: 15vh;
    margin-top: 5vh;
  }

@media screen and (max-width: 600px) {
    .name{
      font-size: x-large;
    }
  }