.contact-me{
    font-size: xx-large;
    background-color: #ff7ebc;
    top: 0;
    height: fit-content;
    width: 100vh;
    // margin-left: -8%;
}

.links{
  margin-left: -63vh;
  margin-top: 70vh;
  color:rgb(255, 255, 255);
  font-size: xxx-large;
  display: flex;
  flex-direction: row;
  gap: 3vh;
  }

  .link{
    text-decoration: none;
    transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  text-decoration: none;
  color: white;
  &:hover{
    transform: translateY(-10px);;
    width: 5.5vh;
  }
  &:hover:after{
    content: attr(data-hover);
    font-size: small;
  }
  }

.contact-form{
    border: 5px solid #ff7ebc;
    height: 50vh;
    width: 100vh;
    margin-top: 15vh;
    margin-left: -100vh;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    font-size: x-large;
    row-gap: 10px;
    border: 1px solid black;
}

.submit{
    color: white;
    margin-top: 3vh;
    size: 30vh;
    height: 5vh;
    width: 10vh;
    background-color: #f99fcb;
    border: 1vh solid #f99fcb;
    border-style: outset;
    box-shadow: 5px 5px rgb(8, 0, 0);
    transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
    &:hover{
      transform: translateY(-10px);;
      width: 10vh;
      color: #ff7ebc;
    }
    &:hover:after{
      content: attr(data-hover);
      font-size: small;
    }
}

.input{
    font-size: small;
    height: 1vh;
    border-radius: 25px;
  border: 2px solid #ff7ebc;
  padding: 15px;
}

.input-message{
    height: 7vh;
    margin-top: 2vh;
    border-radius: 25px;
    border: 2px solid #ff7ebc;
    padding: 20px;
}

.input-form{
    display: flex;
    flex-direction: column;
    margin-left: 25vh;
    gap: 1vh;
    align-items:flex-start;
    margin-left: 1vh;

}

.touch{
    text-align: left;
    margin-left: 4vh;
}

@media screen and (max-width: 800px) {
    .contact-me{
        font-size: large;
    }
    
      .link{
        zoom: 0.0001;
      }
    
    .contact-form{
        zoom:  0.75;
       border: none;
       display: flex;
       flex-direction: column;
       margin-right: 55vh;
    }
    
    .form{
        align-items: center;
        background-color: #f99fcb;
        width: 40vh;
        border-radius: 25px;
    }
    
    .touch{
        text-align: center;
        margin-left: -40vh;
    }

    .submit{
        margin-left: -40vh;
    }
    .contact-me{
        color: transparent;
        background-color: transparent;
    }
    }
  
  
    @media only screen and (max-width: 1200px) and (min-width: 801px){
        .submit{
            margin-top: 1vh;
        }
        .contact-form{
    border: 5px solid #ff7ebc;
    height: 53vh;
    width: 100vh;
    margin-top: 15vh;
    margin-left: -100vh;
    text-align: center;
}
.links{
    margin-top: 80vh;
}
      }