
html{
  font-size: 62.5%;
  font-family:'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font: 300 11px/1.4 ;
  color: rgb(255, 255, 255);
  background-color: #000000;
  overflow: scroll;
  scrollbar-color: red;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar{
  display: none;
}