img {
    height: 30vh;
    width: 50vh;
    margin-top: 1vh;
    padding: 2vh;
  }

  .card{
    font-family: "Marvel", sans-serif;
  border-radius: 2vh;
  margin-bottom: 5vh;
  margin-top: 75px;
  height: 35vh;
  width: 55vh;
  border: 0.5vh solid #f99fcb;
  background-color: #f99fcb;
  border-style: outset;
  box-shadow: 5px 10px rgb(8, 0, 0);
  }

  .pics{
   display: flex;
   flex-direction: row;
   gap: 3vh;
   margin-left: -20vh;
   margin-top: 8vh;
  }

  .projects{
    font-size: xx-large;
    background-color: #ff7ebc;
    height: fit-content;
    margin-left: -8%;
  }